/* Font */

@font-face {
	font-family: MyUnderwood;
	src: url('fonts/MyUnderwood.ttf');
}

/* Carousel background */

html, body {
	height:100%;
	margin:0;
	padding:0;
}
.carousel, .item, .active {
	height: 100%;
}
.carousel-inner {
	height: 100%;
}
.carousel {
	margin-bottom: 0px;
}
.carousel-caption {
	z-index: 10;
}
.carousel .carousel-inner .dark-background {
	background: url('http://i.imgur.com/3uXIqAt.png') no-repeat center center fixed;
    -webkit-background-size: cover; 
    -moz-background-size: cover;    
    -o-background-size: cover;      
    background-size: cover;    
}
.carousel .carousel-inner .light-background {
	background: #F0F0F0;
}

/* Fade transition */

.carousel .item {
	-webkit-transition: opacity 0.5s; 
	-moz-transition: opacity 0.5s; 
	-ms-transition: opacity 0.5s; 
	-o-transition: opacity 0.5s; 
	transition: opacity 0.5s;
}
.carousel .active.left {
	left:0;
	opacity:0;
	z-index:2;
}
.carousel .active.right {
	left:0;
	opacity:0;
	z-index:2;
}
.carousel .next {
	left:0;
	opacity:1;
	z-index:1;
}
.carousel .prev {
	left:0;
	opacity:1;
	z-index:1;
}

/* Positioning */

.home-heading-position {
    position: static;
    padding: 27% 10% 3% 10%;
    margin: 0 auto 0 auto;
    text-align: center;
    color: black;
    font-size: 600%;
    font-family: Copperplate, "Copperplate Gothic Light", fantasy;
}

.heading-position {
    position: static;
    padding: 12% 10% 3% 10%;
    margin: 0 auto 0 auto;
    text-align: center;
    color: black;
    font-size: 500%;
    font-family: 'Josefin Slab', serif; font-weight: 700;
    font-variant: small-caps;
}

.caption-position {
	position: static;
	padding: 0% 0% 3% 0%;
	margin: 0% 18% 0% 18%;
    text-align: left;
    line-height: 200%;
    color: black;
    font-size: 150%;
    font-family: 'Josefin Slab', serif; font-weight: 400;
}

/* Menu icon */

.btn { 
	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	-ms-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
  	transition-duration: 0.3s;
    position: absolute;         
    margin-right: 2%; 
    border: 0.2em solid #777777;
    border-radius: 0.3em;
    height: 2.5em; 
    width: 5em; 
	top: 3.6%;
	left: 2.4%;
	text-align: center;
	color: black;
	font-family: Copperplate, "Copperplate Gothic Light", fantasy;        
}

#btn-home-page {
	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	-ms-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
  	transition-duration: 0.3s;
	border: 0.2em solid #999999;
	color: white;
}

/* Menu Button Hover Effects */

.btn:hover {
	color: black;
	border-color: black;
	text-decoration: none;
}

#btn-home-page:hover {
	color: white;
	border-color: white;
	text-decoration: none;
}

/* Hyperlink Effects */

.hyperlink {
	text-decoration: none;
	padding: 0.5% 0.5% 0% 0.5%;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
	color: #A32900;
	transition: color .2s ease-out, background 0.5s ease-in;
	font-weight: 600;
}

.hyperlink:hover {
	color: #FFFFFF;
	background-color: #336699;
	text-shadow: none;
}

/* Social media icons */

.social-media {
	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	-ms-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
  	transition-duration: 0.3s;
	color: gray;
	margin-top: 2em;
}

#linkedin {
	margin: 2em 0.65em 2em 5.3em;
}

#github {
	margin: 2em 0.65em 2em 0.65em;
}

#facebook {
	margin: 2em 0.65em 2em 0.65em;
}

#resume {
	margin: 2em 5.3em 2em 0.65em;
}

.social-media:hover {
	color: white;
	cursor: pointer; cursor: hand;
	text-decoration: none;
}

/* Menu styles */

.cbp-spmenu {
	background: #111111;
	position: fixed;
}

.cbp-spmenu h3 {
	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	-ms-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
  	transition-duration: 0.3s;
	color: white;
	font-size: 2.5em;
	margin: 2.5em auto 1em auto;
	font-weight: 300;
	background: #000000;
	text-align: center;
	height: 4em;
	width: 4em;
	overflow: hidden;
	border-radius: 50%;
}

.cbp-spmenu h3 img {
	height: 160%;
	margin-left: -0.1em;
}

.cbp-spmenu a.menu-buttons {
	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	-ms-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
  	transition-duration: 0.3s;
	display: block;
	color: #fff;
	font-size: 0.9em;
	font-weight: 300;
	text-align: center;
	border: 0.1em solid gray;
	height: 3em;
	width: 12em;
	margin: 2em auto 0em auto;
	padding-top: 0.7em;
	font-family: Copperplate, "Copperplate Gothic Light", fantasy;
}


/* Highlight menu options on hover */

.cbp-spmenu a:hover {
  	color: white;
	border-color: white;
	text-decoration: none;
}

.cbp-spmenu h3:hover {
	height: 4.25em;
	width: 4.25em;
	text-decoration: none;
}

/* Orientation-dependent styles for the content of the menu */

.cbp-spmenu-vertical {
	width: 25em;
	height: 100%;
	top: 0;
	z-index: 1000;
}

.cbp-spmenu-vertical a {
}

/* Vertical menu that slides from the left or right */

.cbp-spmenu-left {
	left: -25em;
}

.cbp-spmenu-left.cbp-spmenu-open {
	left: 0em;
}

/* Push classes applied to the body */

.cbp-spmenu-push {
	overflow: hidden;
	position: relative;
	left: 0;
}

.cbp-spmenu-push-toright {
	left: 25em;
}

.cbp-spmenu-push-toleft {
	left: -25em;
}

/* Transitions */

.cbp-spmenu,
.cbp-spmenu-push {
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-ms-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}

/* Mask */

.mask {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 15;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
}

body.sml-open nav.cbp-spmenu-left {
    left: 0
}
