/* Carousel background */

html, body {
	height:100%;
	margin:0;
	padding:0;
}
.carousel, .item, .active {
	height: 100%;
}
.carousel-inner {
	height: 100%;
}
.carousel {
	margin-bottom: 0px;
}
.carousel-caption {
	z-index: 10;
}
.carousel .carousel-inner .bg {
	background-repeat: no-repeat;
	background-size: cover;
}
.carousel .carousel-inner .bg1 {
	background-image:url(http://www.windows7desktopwallpapers.com/wallpapers/1280x800/black-wallpapers.jpg);
	background-position: center top;
}
.carousel .carousel-inner .bg2 {
	background-image:url(http://www.solidbackgrounds.com/images/1280x800/1280x800-light-gray-solid-color-background.jpg);
	background-position: center center;
}
.carousel .carousel-inner .bg3 {
	background-image:url(http://www.solidbackgrounds.com/images/1280x800/1280x800-light-gray-solid-color-background.jpg);
	background-position: center bottom;
}

/* Fade transition */

.carousel .item {
	-webkit-transition: opacity 1s; 
	-moz-transition: opacity 1s; 
	-ms-transition: opacity 1s; 
	-o-transition: opacity 1s; 
	transition: opacity 1s;
}
.carousel .active.left {
	left:0;
	opacity:0;
	z-index:2;
}
.carousel .active.right {
	left:0;
	opacity:0;
	z-index:2;
}
.carousel .next {
	left:0;
	opacity:1;
	z-index:1;
}
.carousel .prev {
	left:0;
	opacity:1;
	z-index:1;
}

/* Positioning */

.home-heading-position {
    position: static;
    padding: 27% 10% 3% 10%;
    margin: 0 auto 0 auto;
    text-align: center;
    color: black;
    font-size: 600%;
    font-family: Copperplate, "Copperplate Gothic Light", fantasy;
}

.heading-position {
    position: static;
    padding: 16% 10% 3% 10%;
    margin: 0 auto 0 auto;
    text-align: center;
    color: black;
    font-size: 500%;
    font-family: Copperplate, "Copperplate Gothic Light", fantasy;
}

.caption-position {
	position: static;
	padding: 0% 0% 3% 0%;
	margin: 0% 20% 0% 20%;
    text-align: center;
    line-height: 200%;
    color: black;
    font-size: 150%;
    font-family: Papyrus, fantasy;
}

/* Menu icon */

.btn { 
	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	-ms-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
  	transition-duration: 0.3s;
    position: absolute;         
    margin-right: 2%; 
    border: 0.2em solid #777777;
    border-radius: 0.3em;
    height: 2.5em; 
    width: 5em; 
	top: 3.6%;
	left: 2.4%;
	text-align: center;
	color: black;
	font-family: Copperplate, "Copperplate Gothic Light", fantasy;        
}

#btn-home-page {
	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	-ms-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
  	transition-duration: 0.3s;
	border: 0.2em solid #999999;
	color: white;
}

/* Menu Button Hover Effects */

.btn:hover {
	color: black;
	border-color: black;
	text-decoration: none;
}

#btn-home-page:hover {
	color: white;
	border-color: white;
	text-decoration: none;
}

/* Dim background for each page */

#dimmer1, #dimmer2, #dimmer3, #dimmer4, #dimmer5 {
    background:#000;
    opacity:0.5;
    position:absolute; /* important to use fixed, not absolute */
    top:0;
    left:0;
    width:100%;
    height:100%;
    display:none;
    z-index:9999; /* may not be necessary */
}

/* Social media icons */

.social-media {
	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	-ms-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
  	transition-duration: 0.3s;
	color: gray;
	margin-top: 2em;
}

#left {
	float: left;
	margin-left: 5.3em;
}

#middle {
	float: none;
	margin: 0em 2.68em 0 2.68em;
	margin-top: 2.06em;
}

#right {
	float: right;
	margin-right: 5.3em;
}

.social-media:hover {
	color: white;
	cursor: pointer; cursor: hand;
	text-decoration: none;
}
