/* Large desktops and laptops */
@media (min-width: 1150px) {
  body{font-size:16px;}
}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  body{font-size:15px;}
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  body{font-size:14px;}
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  body{font-size:13px;}
}

/* Landscape phones and smaller */
@media (max-width: 480px) {
  body{font-size:12px;}
}

/* Carousel background */

html, body {
	height:100%;
	margin:0;
	padding:0;
}
.carousel, .item, .active {
	height: 100%;
}
.carousel-inner {
	height: 100%;
}
.carousel {
	margin-bottom: 0px;
}
.carousel-caption {
	z-index: 10;
}
.carousel .carousel-inner .dark-background {
	background: url('http://i.imgur.com/wGahMvj.jpg') no-repeat center center fixed;
  -webkit-background-size: cover; 
  -moz-background-size: cover;    
  -o-background-size: cover;      
  background-size: cover;    
}
.carousel .carousel-inner .light-background {
	background: url('http://i.imgur.com/X2PU0Z9.jpg') no-repeat center center fixed;
	-webkit-background-size: cover; 
  -moz-background-size: cover;    
  -o-background-size: cover;      
  background-size: cover;    
}

/* Fade transition */

.carousel .item {
	-webkit-transition: opacity 0.5s; 
	-moz-transition: opacity 0.5s; 
	-ms-transition: opacity 0.5s; 
	-o-transition: opacity 0.5s; 
	transition: opacity 0.5s;
}
.carousel .active.left {
	left:0;
	opacity:0;
	z-index:2;
}
.carousel .active.right {
	left:0;
	opacity:0;
	z-index:2;
}
.carousel .next {
	left:0;
	opacity:1;
	z-index:1;
}
.carousel .prev {
	left:0;
	opacity:1;
	z-index:1;
}

/* Content positioning */

.home-heading-position {
  position: static;
  padding: 25% 10% 3% 10%;
  margin: 0 auto 0 auto;
  text-align: center;
  color: white;
  font-size: 650%;
  font-family: 'Josefin Slab', serif;
  font-weight: 600;
}

.heading-position {
  position: static;
  margin: 1em auto 0.3em auto;
  text-align: center;
  color: white;
  font-size: 600%;
  font-family: 'Josefin Slab', serif; 
  font-weight: 600;
  font-variant: small-caps;
}

.caption-position {
	position: static;
	margin: 0.5em 15% 0% 15%;
  text-align: left;
  line-height: 200%;
  color: white;
  font-size: 150%;
  font-family: 'Josefin Slab', serif; font-weight: 400;
}

@media (max-width: 767px) {
	.caption-position {
		line-height: 160%;
		margin: 0.5em 5% 0% 5%;
	}
}

.caption-position.projects-caption {
	font-size: 125%; 
	line-height: 140%; 
	margin-left: 5%; 
	margin-right: 5%;
	margin-top: 0;
}

.caption-position p span {
	color: #d6b55f; 
	font-weight: 600;
	font-size: 110%;
}

@media (max-width: 767px) {
	.caption-position.projects-caption {
		font-size: 120%;
	}
}

/* Menu icon */

.btn { 
	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	-ms-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
	transition-duration: 0.3s;
  position: absolute;         
  margin: 0;
  padding: 0.5em 0 0 0;
  border: 0.2em solid white;
  border-radius: 0.3em;
  height: 2.5em; 
  width: 5em;
  font-size: 1em;
	top: 2em;
	left: 2em;
	text-align: center;
	color: white;
	font-family: 'Josefin Slab', serif;
}

#btn-home-page {
	border: 0.2em solid white;
	color: white;
}

/* Menu Button Hover Effects */

.btn:hover {
	color: black;
	border-color: black;
	text-decoration: none;
}

#btn-home-page:hover {
	color: black;
	border-color: black;
	text-decoration: none;
}

/* Hyperlink Effects */

.hyperlink {
	text-decoration: underline;
	padding: 0.5% 0.5% 0% 0.5%;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
	transition: color .2s ease-out, background 0.5s ease-in;
	font-weight: 600;
	color: #FFFFFF;
}

.hyperlink:hover {
	color: #FFFFFF;
	text-shadow: none;
}

/* Social media icons */

.social-media {
	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	-ms-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
	transition-duration: 0.3s;
	color: gray;
}

#linkedin {
	margin: 2.5em 0.65em 2em 5.3em;
}

#github {
	margin: 2.5em 0.65em 2em 0.65em;
}

#facebook {
	margin: 2.5em 0.65em 2em 0.65em;
}

#resume {
	margin: 2.5em 5.3em 2em 0.65em;
}

.social-media:hover {
	color: white;
	cursor: pointer; cursor: hand;
	text-decoration: none;
}

/* Menu styles */

.cbp-spmenu {
	background: #111111;
	background-color:rgba(0,0,0,0.35);
	position: fixed;
}

.cbp-spmenu h3 {
	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	-ms-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
	transition-duration: 0.3s;
	color: #A32900;
	font-size: 2.5em;
	margin: 2.5em auto 1em auto;
	font-weight: 300;
	text-align: center;
	height: 4em;
	width: 4em;
	overflow: hidden;
	border-radius: 50%;
}

.cbp-spmenu h3 img {
	height: 129.7%;
	margin-left: -0.588em;
	margin-top: -0.551em;
}

.cbp-spmenu a.menu-buttons {
	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	-ms-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
	transition-duration: 0.3s;
	display: block;
	color: white;
	font-size: 1em;
	font-weight: 300;
	text-align: center;
	border-bottom: 0.1em solid gray;
	height: 3em;
	width: 12em;
	margin: 2em auto 0em auto;
	padding-top: 1em;
	font-family: 'Josefin Slab', serif;
}


/* Highlight menu options on hover */

.cbp-spmenu a:hover {
  color: white;
	border-color: white;
	text-decoration: none;
}

.cbp-spmenu h3:hover {
	text-decoration: none;
}

/* Orientation-dependent styles for the content of the menu */

.cbp-spmenu-vertical {
	width: 25em;
	height: 100%;
	top: 0;
	z-index: 1000;
}

.cbp-spmenu-vertical a {
}

/* Vertical menu that slides from the left or right */

.cbp-spmenu-left {
	left: -25em;
}

.cbp-spmenu-left.cbp-spmenu-open {
	left: 0em;
}

/* Push classes applied to the body */

.cbp-spmenu-push {
	overflow: hidden;
	position: relative;
	left: 0;
}

.cbp-spmenu-push-toright {
	left: 25em;
}

.cbp-spmenu-push-toleft {
	left: -25em;
}

/* Transitions */

.cbp-spmenu,
.cbp-spmenu-push {
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-ms-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}

/* Mask */

.mask {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 15;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}

body.sml-open nav.cbp-spmenu-left {
    left: 0
}
